BrainTellServer
braintellserver
logs/*
/logs_dynamic/
/logs_release/
/logs_test/
thirdparty/build-CollServer-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/
thirdparty/CollServer/CollServer.pro.user
thirdparty/CollServer/CollServer.pro.user.32ba074
*.stash
*.o
.idea/
